*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-pink{
    background-color: #FF006F;
}
.btn{
padding: 9px 40px;
border-radius: 30px;
font-weight: 500;
color: white;
transition: all 0.5s;
}
#btn1:hover{
    background-color: #FF006F;
    color: white;
    transform: scale(1.1);
}
 .h2{
    font-size:65px;
    font-weight:bold;
    }

/* banner and navbar section start */

#banner .navbar{
    transition: all 1s;
}
#banner .navbar-brand img{
    transition: all 1s;
}

#banner ul li .nav-link
{
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}


/* banner and navbar section end */

/* carousel */
#banner .carousel-item .w-100
{
    height: 100vh;
}
.carousel-caption p{
    font-size:20px;
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    font-weight:500;
}
.carousel-captionp a{
    color:white;
    transition:all 0.4s;
    }
.carousel-caption p a:hover{
        color:#FF006F;
        
}
.carousel-caption p a{
    color: white;
  
}
#carousel1
{
    left: 300px;
    top:120px
}
#carousel2
{
    left: 300px;
    top:120px
}
#carousel3{
    left: 50%;
 top: 130px;
 

 }
.carousel-caption #arrow{
    animation: cnc 0.8s ease-in-out infinite alternate-reverse;
    }
   
 @keyframes cnc {
    0%{
    margin-top: 0px;
    }
    100%{
    margin-top: 40px;
    }
}
/* carousel */

.scroll-down{
    background-color: white;
    padding: 0px;
}
#banner .scroll-down ul li .nav-link
{
    color: black;
}
.scroll-down .navbar-brand img{
    width:80px;
}


/* banner and navbar section end */

.offcanvas .offcanvas-body ul li a{
   
    text-decoration: none;
    color: white;
   
    
}
.offcanvas .offcanvas-body ul {
   margin-top: 250px;
   font-size: 25px;
   font-weight: 700;
   list-style: none;
}
.offcanvas{
    background-color: #FF006F;
}
.bottom-meta-wrap ul  {
    
    margin-left: 30px;
    margin-bottom: 80px;

}

.bottom-meta-wrap ul li {
    list-style: none;
    margin:0px 13px;
}

/* max-width:992px; */
@media screen and (max-width:992px) {
    .h2{
    font-size: 45px;
    line-height: 50px;
    }
#carousel1{
    left: 120px;
    top: 130px;
 }
 #carousel2{
    left: 120px;
    top: 130px;
 }
 #carousel3{
    left: 120px;
    top: 130px;
 }
 }
 /* max-width:992px; */
 /* max-width:768px; */
 @media screen and (max-width:768px)
  {
 .h2{
 font-size: 35px;
 line-height: 40px;
 }
 #banner .carousel-item .w-100{
 height: 85vh;
 }
 #carousel1{
 left: 100px;
 top: 130px;
 }
 #carousel3{
 left: 100px;
 top: 130px;
 }
}
/* max-width:768px; */
 /* max-width:576px; */
 @media screen and (max-width:576px) {
#carousel1{
    left: 70px;
    top: 130px;
}
#carousel3{
    left: 70px;
    top: 130px;
    }
}
    /* max-width:576px; */
